@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    line-height: 1.5;
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 8px 24px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.purple {
    color: #6415ff;
}

::placeholder {
    color: #eeeeee;
}

/*

NAV

 */

nav {
    height: 80px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    padding: 0 16px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 60px;
    overflow: hidden;
}

.nav__link--login {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.logo:hover {
    color: #6415ff;
}

.nav__logo--name {
    transition: all 300ms ease;
}

/*

HEADER

*/

.header__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
    padding: 0 24px;
    align-items: center;
}

.header__description {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-size: 36px;
    color: #243e63;
}

.header__description--para {
    margin: 20px 0;
    font-size: 16px;
}

.trusted__img {
    max-width: 100%;
    opacity: .50;
}

.header__img {
    padding: 24px;
    width: 60%;
}

.landing__img {
    max-width: 100%;
}

.header__email {
    padding: 4px;
    border: 2px solid #eeeeee;
    border-radius: 40px;
    display: flex;

}

textarea:focus, input:focus{
    outline: none;
}


.text {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    margin-left: 8px;
}

.email__btn {
    background-color: #7342d6;
    color: white;
    padding: 8px 24px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
}

.header__trusted {
    padding: 24px 0;
    color: #A0AEC0;
    opacity: .50;
}

/*

FEATURES

*/

.features__container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.features__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.features__pretitle {
    font-size: 16px;
}

.features__title {
    font-size: 48px;
    padding: 24px 0;
    color: #243e63;
}

.features__title--para {
    font-size: 16px;
    width: 50vw;
    text-align: center;
    color: #7c8ba1;
}

.features__list {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
}

.features__list--item {
    width: calc(100% / 3);
    padding: 24px;
    display: flex;
}

.item__title {
    color: #243e63;
}

.item__para {
    color: #7c8ba1;
    padding-top: 16px
}

.item__description {
    padding-left: 16px;
}

.item__img {
    border: 1px solid #eeeeee;
    text-align: center;
    border-radius: 9999px;
    padding: 1.25rem;
    height: 66px;
}

/*

QUALITY

*/

.quality {
    padding-top: 96px;
}

.quality__container {
    display: flex;
}

.quality__main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quality__para {
    color: #7c8ba1;
    line-height: 1.5;
    font-size: 18px;
    padding: 12px 0 36px 0;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    width: 100%;
}

.quality__pretitle {
    font-size: 16px;
}

.quality__title {
    font-size: 48px;
    padding: 24px 0;
    color: #243e63;
}

/*

STEPS

*/

.steps {
    padding: 96px 0;
}

.steps__pretitle {
    font-size: 16px;
}

.steps__title {
    font-size: 48px;
    padding: 24px 0;
    color: #243e63;
}

.steps__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__main {
    padding-left: 36px;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.steps__item {
    margin-top: 24px;
    padding-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__description {
    padding-left: 24px;
    max-width: 360px;
}

.steps__item--title {
    color: #243e63;
    font-size: 20px;
}

.steps__item--para {
    color: #718096;
    margin-top: 12px;
}

.steps__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
}

/*

VALUES

*/

.value {
    padding: 96px 0;
}

.value__pretitle {
    font-size: 16px;
}

.value__title {
    font-size: 48px;
    padding: 24px 0;
    color: #243e63;
}

.value__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__image--wrapper {
    width: 50%;
}

.value__img {
    width: 100%;
}

.value__main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.value__reasons {
    margin-top: 32px;
    display: flex;
}

.value__reason--2 {
    margin-left: 32px;
}

.value__reasons--title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.value__icon--wrapper1 {
    background-color: #9ae6b4;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.value__icon--wrapper2 {
    background-color: #feb2b2;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.reason__title {
    margin-left: 12px;
    color: #243e63;
    font-size: 20px;

}

.value__reasons--para {
    color: #718096;
    font-size: 16px;
}

.reason__btn {
    margin-top: 16px;
}

.value__para {
    color: #7c8ba1;
    font-size: 18px;
}

/* 

PRICING

*/

.pricing {
    padding: 96px 0;
}

.pricing__pretitle {
    font-size: 16px;
}

.pricing__title {
    font-size: 48px;
    padding: 24px 0;
    color: #243e63;
}

.pricing__para {
    color: #7c8ba1;
    font-size: 18px;
    text-align: center;
}

.pricing__intro {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__plans--list {
    display: flex;
    flex-direction: row;
}

.pricing__plan--personal {
    border: 2px solid ;
    width: calc(100 / 3);
}

/* .pricing__plan--business {
    border: 2px solid ;
    width: calc(100 / 3);
} */